<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuBbQW3XvtB1o5QWz3dkF9E0U9Y6MKujw&libraries=places,geometry&sensor=false">
    </script>

  </head>
  <body>
    <div class="content"></div>
    <div id="map-canvas"/>
  </body>
</html>