/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html { 
  height: 100%; 
}

body { 
  height: 100%; 
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#map-canvas { 
  height: 100%; 
  opacity: .3;
}

.content {
  z-index: 10;
  position: relative;
  margin: 0 auto;
}

body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  overflow: hidden;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid #595959;
  font-size: 20px;
  letter-spacing: 2px;
}

.hidden {
  position: relative;
  top: 10px;
  margin-bottom: 10px;
}

#pac-input {
  width: 400px;
}

button {
  border: none;
  border-radius: 10px;
  background-color: #00b7ef;
  padding: 15px;
  font-size: 16px;
}

.form-container {
  display: inline-block;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
}

h1 {
  margin-top: auto;
}

.result {
  position: absolute; 
  bottom: 0; 
  padding: 10px;
  z-index: 10;
}