<h1>Find Me A Food Truck</h1>
<form action="index_submit" method="get" accept-charset="utf-8">
    
    <div class="food">I seriously need some
    <input list="food-type" name="food-type" placeholder="bacon" required autofocus>
    <datalist id="food-type">
      <option value="tacos">
      <option value="cupcakes">
      <option value="hot dogs">
      <option value="pho">
      <option value="food">
    </datalist></div>

    <div class="location field">So find some for me near  
    <input type="text" id="pac-input" class="controls" autocomplete="off" placeholder="the tenderloin" required></div>

    <div class="distance field">And by near I mean within <input type="text" placeholder=".5" required> miles.</div>
    <div class="submit-button field"><p>
      <a href="#">
        <button>Let's Do This</button>
      </a></p></div>
</form>