<h1>Find me a Food Truck <i class="fa fa-truck"></i></h1>
<form action="index_submit" method="get" accept-charset="utf-8">
    
    <div class="food">I seriously need some
    <input type="text" placeholder="bacon" autofocus>.</div>

    <div class="location field">So find some for me near  
    <input type="text" id="address" class="controls" autocomplete="off" placeholder="the tenderloin">.</div>

    <div class="distance field">And by near I mean within <input type="text" placeholder=".5"> miles.</div>
    <div class="submit-button field">
      <p>
        <a href="#"><button>Let's Do This</button></a>
      </p>
    </div>
</form>