<h1>Find Me A Food Truck</h1>
<form action="index_submit" method="get" accept-charset="utf-8">
    <div class="food">I seriously need some
    <input list="food-type" name="food-type" placeholder="bacon" autofocus>
    <datalist id="food-type">
      <option value="tacos">
      <option value="cupcakes">
      <option value="hot dogs">
      <option value="pho">
      <option value="shoot, I don't know">
    </datalist></div>

    <div class="location hidden">So find some for me near  
    <input type="text" id="pac-input" class="controls" autocomplete="off" placeholder="the tenderloin"></div>

    <div class="distance hidden">And by near I mean within <input type="text" placeholder="10"> miles.</div>
    <div class="submit-button hidden"><p><button>Let's Do This</button></p></div>
</form>