<a href="#" class="back-arrow"><span class="new-search">new search</span>^</a>

<h1>Find me a Food Truck <i class="fa fa-truck"></i></h1>
<form action="index_submit" method="get" accept-charset="utf-8">
    
    <div class="food">I seriously need some grub.</div>

    <div class="location field">Find grub for me near  
    <input type="text" id="address" class="controls" autocomplete="off" placeholder="the tenderloin" autofocus>.</div>

    <div class="distance field">And by near I mean within <input type="text" id="miles" placeholder=".5"> miles.</div>
    <div class="submit-button field">
      <p>
        <a href="#"><button>Let's Do This</button></a>
      </p>
    </div>
</form>